
nav {
  margin-top: 10px;

  .nav-link {
    position: relative;
    display: flex;
    padding: 0;

    a {
      color: $secondary;
      text-decoration: none;
      margin-top: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      &.active {
        position: relative;
        font-weight: 500;

        .line {
          content: '';
          position: absolute;
          display: flex;
          justify-content: center;
          background: #303030;
          width: 32px;
          height: 4px;
          border-radius: 10px;
          top: 30px;
        }
      }
    }
  }
}

#light {
  .nav-link {
    a {
      color: $secondary;

      .line {
        background: #303030;
      }
    }
  }
}

#dark {
  .nav-link {
    a {
      color: $white;

      .line {
        background: $primary;
      }
    }
  }
}