.text-white {
  color: $white !important;
}

.text-blue {
  color: $primary;
}

.text-black {
  color: $secondary !important;
}

.text-gradient-blue {
  background: rgb(185, 235, 253);
  background: linear-gradient(90deg, rgba(185, 235, 253, 1) 0%, rgba(58, 134, 255, 1) 80%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text-gradient-orange {
  background: rgb(237, 203, 21);
  background: linear-gradient(90deg, rgba(237, 203, 21, 1) 0%, rgba(230, 172, 23, 1) 30%, rgba(218, 118, 25, 1) 100%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
