$primary: #3A86FF;
$primary-dark: #2365CE;
$primary-light: #D8E7FF;
$primary-lighter: #F4F8FF;
$purple: #9E77ED;
$purple-dark: #53389E;
$purple-light: #E7DBFF;
$purple-lighter: #F4EEFF;
$success: #47D478;
$success-dark: #039855;
$success-light: #D1FADF;
$success-lighter: #ECFDF3;
$warning: #FEC84B;
$warning-dark: #F2A516;
$warning-light: #FEEEBF;
$warning-lighter: #FFF9E5;
$error: #D92D20;
$error-dark: #AD1206;
$error-light: #FFDCDA;
$error-lighter: #FEEEED;

$background: #E0EAF4;
$background-light: #F4F7FA;
$background-dark: $black;
$secondary: #1C1D20;
$secondary-light: #D7D7D8;
$secondary-dark: #414141;
$info: #952CB7;
$danger: #ED4052;
$danger-lighter: #FFF8F9;
$black: #000000;
$light-gray: #F5F5F5;
$white: #ffffff;


//Text color
$dark-text: #2E3033;
$light-text: #667085;

//Buttons color
$primary-button-bg: $success;

//background

.bg-primary {
  background-color: $primary !important;
}

.bg-orange {
  background-color: $orange;
}

.bg-primary-darker {
  background-color: $background;
}

//

.background-dark {
  background-color: $background-dark;
}

.background-light {
  background-color: $background-light;
}
.bg-light-gray{
  background-color: $light-gray;
}
.linear-gradient{
  background: linear-gradient(102deg, #EDA215 0%, #DA7619 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
//Font weight
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-extra-bold: 800;

//Gray colors
$gray-100: #F3F6F9 !default;
$gray-200: #EBEDF3 !default;
$gray-300: #E4E6EF !default;
$gray-400: #D1D3E0 !default;
$gray-500: #B5B5C3 !default;
$gray-600: #7E8299 !default;
$gray-700: #5E6278 !default;
$gray-800: #3F4254 !default;
$gray-900: #181C32 !default;

// Dark colors
$dark: $gray-900 !default;
$dark-75: $gray-800 !default;
$dark-65: $gray-700 !default;
$dark-50: $gray-600 !default;
$dark-25: $gray-400 !default;