* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  scrollbar-width: none;
  background-color: $background;

  &::-webkit-scrollbar {
    display: none;
  }
}

#light {
  background-color: $background-light;
}

#dark {
  background-color: $background-dark;
}

.fit-content {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.marquee {
  display: flex;
  justify-content: space-between;
  background-color: $black;

  & div {
    color: $white;
    font-size: 20px;
  }
}

.line-height-0 {
  line-height: 0px;
}

#dark {
  .marquee {
    background-color: $white;

    div {
      color: $black;
    }
  }
}

.radius20 {
  border-radius: 24px;
}

.f-27 {
  font-size: 24px;
}

.w-77 {
  width: 77%;
}

.h-60 {
  height: 60vh;
}

.h-35 {
  height: 45vh;
}

.h-48 {
  height: 48%;
}

.h-85 {
  height: 85%;
}

.m-top {
  margin-top: 12rem;
}

