* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  scrollbar-width: none;
  background-color: $background-light;

  &::-webkit-scrollbar {
    display: none;
  }
}

#light {
  background-color: $background-light;
}

#dark {
  background-color: $background-dark;
}

.fit-content {
  width: fit-content;
}

.cursor-pointer {
  cursor: pointer;
}

.marquee {
  display: flex;
  justify-content: space-between;
  background-color: $black;

  & div {
    color: $white;
    font-size: 20px;
  }
}

#dark {
  .marquee {
    background-color: $white;

    div {
      color: $black;
    }
  }
}

.radius20 {
  border-radius: 20px;
}

.h-60 {
  height: 60vh;
}

.h-35 {
  height: 45vh;
}

.h-49 {
  height: 48.5%;
}

.h-85 {
  height: 85%;
}