
.heading-text {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
  }

  .first-line, .third-line {
    width: 57rem;
    text-align: left;

    .third-line-left {
      h1 {
        margin: 0;
      }
    }

    .third-line-right {
      width: 31%;
      line-height: 17px;
      text-align: left;
      padding-bottom: 7px;

      p {
        margin: 0;
        font-size: 16px;
      }
    }
  }

  .second-line {
    padding-top: 17px;
    margin-left: 27rem;
  }


}
