.contactForm {
	background-color: #e0eaf4;
	border-radius: 24px;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
}
.details {
	background-color: #e0eaf4;
	height: 100%;
	border-radius: 24px;
	padding-left: 30px;
	padding-top: 12px;
}

.containerContact {
	margin-bottom: 150px;
}
.sendBtn {
	margin-bottom: 25px;
	margin-top: 30px;
}
.downloadBtn {
	margin-bottom: 25px;
	margin-top: 30px;
}
.modal{
	.modal-footer{
		border-top: none;
	}
}

@media (max-width: 520px) {
	.contactForm {
		margin-bottom: 20px;
	}
	.sendBtn {
		margin-bottom: 25px;
	}
}
