.image-container-right {
	position: relative;
	border-radius: 24px;

	img {
		border-radius: 20px;
	}

	.img-text-left {
		position: absolute;
		text-transform: uppercase;
		font-weight: bold;
		color: $white;
		top: 1.5rem;
		right: 1.5rem;
		font-family: "New Title", serif;
		font-size: 70px;
	}
}

.image-container-left {
	position: relative;
	border-radius: 24px;

	img {
		border-radius: 20px;
	}

	.img-text-right {
		position: absolute;
		text-transform: uppercase;
		font-weight: bold;
		color: $white;
		bottom: 0.5rem;
		left: 1.5rem;
		font-family: "New Title", serif;
		font-size: 60px;
	}

	.more-info-icon {
		position: absolute;
		bottom: 1.6rem;
		right: 1.5rem;
		width: 25px;
		height: 25px;
		cursor: pointer;
		color: $white;
		background-color: $black;
		border-color: 2px solid $black;
		border-radius: 20px;
		font-weight: bold;
		transition: 0.3s ease all;
		z-index: 5;

		&.active-more {
			transform: rotate(45deg);
		}
	}

	& .moreAbout {
		display: none;
		transition: 3s ease all;
		font-size: 18px;

		&.active-about {
			display: flex;
			transition: 0.3s ease all;
			border-radius: 20px;
			position: absolute;

			top: 0;
			width: 100%;
			height: 100%;

			background-color: $primary;
		}
	}

	& .moreSkill {
		display: none;
		transition: 3s ease all;
		border-radius: 20px;
		padding: 8px;

		.badge {
			padding: 8px;
			margin: 3px 8px;
			background-color: rgba(43, 113, 225, 1);
			color: $white;
			font-size: 18px;
		}

		&.active-skill {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			transition: 0.3s ease all;
			border-radius: 20px;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $primary;
		}
	}
}

.checkoutMyWork {
	object-fit: fill;
	border-radius: 20px;

	p {
		font-family: "Kalam", cursive;
		font-size: 24px;
		color: $primary;
		rotate: -15deg;
	}
}

.work-info {
	font-size: 34px;
}

.checkoutMyWork {
	position: absolute;
	right: -54px;
	top: 80px;
}

.social-icon {
	padding: 1.5rem;
	background-color: $black;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s ease all;

	img {
		width: 60px;
		height: 60px;
	}

	&:hover {
		background-color: $primary;

		img {
			filter: invert(1);
		}
	}
}

/* MY SERVICES */

.services-container {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	padding: 120px 0px;
	align-items: center;
	width: 100%;
	height: 816px;

	.services-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
		gap: 10px;

		width: 1140px;
		height: 576px;

		h1 {
			margin-top: 0 !important;
		}
	}

	.cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		padding: 0px;
		gap: 24px;

		.card-service {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			//padding: 80px 0px;
			isolation: isolate;
			width: 364px;
			height: 440px;
			background-color: #ffffff;
			border-radius: 16px;

			.card-content {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 0px;
				gap: 40px;
				width: 220px;
				height: 240px;

				&.hide-content {
					display: none;
				}

				h4 {
					font-weight: 600;
					text-align: center;
					width: 188px;
				}
				.logo-design-text {
					width: 200px;
				}
				.icon-circle {
					width: 92px;
					height: 92px;
					display: grid;
					place-content: center;
					border-radius: 50%;
				}
				.mozda {
					vertical-align: unset;
				}
				.gradient1 {
					background: #d8e7ff;
					border: 12px solid #f4f8ff;
				}
				.gradient2 {
					/* Purple/20 */

					background: #e7dbff;
					/* Purple/10 */

					border: 12px solid #f4eeff;
				}
				.gradient3 {
					/* Success/20 */

					background: #d1fadf;
					/* Success/10 */

					border: 12px solid #ecfdf3;
				}
			}
			.see-more {
				border-radius: 50px;
				z-index: 1;
				position: relative;
				top: 70px;
				left: 120px;
				width: 40px;
				height: 30px;
				transition: 0.3s ease all;
				background: #f8f8f8;
				border-radius: 50px;
				z-index: 1;

				& .active-more-ux {
					transform: rotate(45deg);
				}
			}

			& .more-ux {
				display: none;
				transition: 3s ease all;
				font-size: 18px;

				&.active-ux {
					display: flex;
					flex-direction: column;
					transition: 0.3s ease all;
					border-radius: 20px;
					position: relative;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $primary;
					align-items: center;
					justify-content: center;
				}
				.active-ux-content {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 0px;
					gap: 24px;

					width: 211px;
					height: 212px;

					/* Inside auto layout */

					flex: none;
					order: 0;
					flex-grow: 0;
					z-index: 0;

					& h4 {
						width: 177px;
						height: 76px;

						/* Heading 4/Semibold */

						font-family: "Inter";
						font-style: normal;
						font-weight: 600;
						font-size: 32px;
						line-height: 38px;
						/* or 119% */

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: -0.03em;

						color: #ffffff;
						text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}

					& p {
						width: 211px;
						height: 112px;

						/* Text lg/Regular */

						font-family: "Inter";
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 28px;
						/* or 156% */

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: -0.02em;

						/* Primary/10 */

						color: #f4f8ff;
					}
				}
			}

			.more-branding {
				display: none;
				transition: 3s ease all;
				font-size: 18px;

				&.active-branding {
					display: flex;
					flex-direction: column;
					transition: 0.3s ease all;
					border-radius: 20px;
					position: relative;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $primary;
					align-items: center;
					justify-content: center;
				}
				.active-branding-content {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 0px;
					gap: 24px;

					width: 183px;
					height: 184px;

					/* Inside auto layout */

					flex: none;
					order: 0;
					flex-grow: 0;
					z-index: 0;

					& h4 {
						width: 183px;
						height: 76px;

						/* Heading 4/Semibold */

						font-family: "Inter";
						font-style: normal;
						font-weight: 600;
						font-size: 32px;
						line-height: 38px;
						/* or 119% */

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: -0.03em;

						color: #ffffff;
						text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}

					& p {
						width: 168px;
						height: 84px;

						/* Text lg/Regular */

						font-family: "Inter";
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 28px;
						/* or 156% */

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: -0.02em;

						/* Primary/10 */

						color: #f4f8ff;
					}
				}
			}

			.more-design {
				display: none;
				transition: 3s ease all;
				font-size: 18px;

				&.active-design {
					display: flex !important;
					flex-direction: column;
					transition: 0.3s ease all;
					border-radius: 20px;
					position: relative;
					top: 0;
					width: 100%;
					height: 100%;
					background-color: $primary;
					align-items: center;
					justify-content: center;
				}
				.active-design-content {
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 0px;
					gap: 24px;

					width: 262px;
					height: 212px;

					& h4 {
						width: 116px;
						height: 76px;

						/* Heading 4/Semibold */

						font-family: "Inter";
						font-style: normal;
						font-weight: 600;
						font-size: 32px;
						line-height: 38px;
						/* or 119% */

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: -0.03em;

						color: #ffffff;
						text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					}

					& p {
						width: 262px;
						height: 112px;

						/* Text lg/Regular */

						font-family: "Inter";
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 28px;
						/* or 156% */

						display: flex;
						align-items: center;
						text-align: center;
						letter-spacing: -0.02em;

						/* Primary/10 */

						color: #f4f8ff;
					}
				}
			}
		}
	}
}

// .see-more-icon {
// 	width: 36px;
// 	height: 36px;
// }
@media (max-width: 1024px) {
	.img-text-right {
		font-size: 40px !important;
	}

	.img-text-left {
		font-size: 40px !important;
	}

	.work-info {
		font-size: 18px;
	}

	.checkoutMyWork {
		position: absolute;
		right: 50px;
		top: 135px;
	}

	.badge {
		padding: 8px;
		margin: 3px 8px;
		background-color: rgba(43, 113, 225, 1);
		color: $white;
		font-size: 14px !important;
	}

	.social-icon {
		padding: 1rem;
		border-radius: 15px;

		img {
			width: 30px;
			height: 30px;
		}

		// &:hover {
		// }
	}
}

.hamburger {
	z-index: 2;
}

.mobileMenu {
	z-index: 2;
}

.toggle {
	width: 100%;
	background-color: $black;
}

.offcanvas-header {
	position: relative;

	button {
		background-color: $primary;
		padding: 10px !important;
		color: $black !important;
		border-radius: 30px;
		position: absolute;
		right: 39px;
		top: 44px;
		opacity: unset;
		width: 1.5rem;
		height: 1.5rem;
	}
}

#mobile {
	font-size: 45px;
}
