.case-about {
  background: rgb(237, 203, 21);
  background: linear-gradient(151deg, rgba(237, 203, 21, 1) 0%, rgba(230, 172, 23, 1) 26%, rgba(218, 118, 25, 1) 100%);


  .case-text {
    line-height: 2.5rem;
  }
}

.logo-prototype {
  border-radius: 1.5rem;

  padding: 3rem;
  background-color: white;
}

.cheetah-logo {
  border-radius: 1.5rem;
  background-color: white;
}

@media (max-width: 850px) {
  .case-about {
    .case-text {
      font-size: 14px;
      line-height: 1.5rem;
    }
  }

}

.scroll {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
